<!-- <div class="sticky bg-gradient-to-r from-cyan-700 via-blue-900 to-violet-900 text-secundario">
  <div class="flex flex-col lg:flex-row justify-between p-4 gap-4 max-w-[1000px] mx-auto">
    <div class="flex flex-col sm:flex-row gap-y-4 gap-x-6 justify-center items-center lg:justify-start font-light">
      <a href="tel:+51977729706" target="_blank"><div class="flex gap-2 items-center"><i class="pi pi-phone"></i>+51 977 729 706</div></a
      ><a href="mailto:ventas@cgrafimar.com" target="_blank"><div class="flex gap-2 items-center"><i class="pi pi-envelope"></i>ventas&#64;cgrafimar.com</div></a
      ><a href="https://maps.google.com/?q=Av.+Bolivia+148+Int+123" target="_blank"><div class="flex gap-2 items-center"><i class="pi pi-map-marker"></i>Av. Bolivia 148</div></a>
    </div>
    <div class="flex gap-4 justify-center items-center lg:justify-end">
      <a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook"></i></a>
      <a href="https://wa.me/51977729706" target="_blank"><i class="pi pi-whatsapp"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram"></i></a>
    </div>
  </div>
</div> -->
<app-navbar />
