form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input, textarea {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 12px;
    font-size: 1rem;
  }

  textarea {
    field-sizing: content;
    min-height: 80px;
  }
  