<div class="contenedor contenedor--secundario">
  <div class="subcontenedor text-center px-32">
    <div class="w-full text-primario-2 font-bold text-4xl">
      ¿ Quiénes <span class="text-primario">Somos ?</span>
    </div>
    <div class="w-full">
      <div class=" rounded-lg text-primario">
        <p class="p-0 m-0">
          En Corporación Grafimar SAC, transformamos ideas en realidad con más
          de 20 años de experiencia en el mundo gráfico. Somos expertos en
          impresión, publicidad interior y exterior, ofreciendo soluciones
          innovadoras que destacan por su calidad y precisión. Nos respaldan dos
          grandes pilares: tecnología de vanguardia y un equipo altamente
          calificado. Contamos con maquinaria de última generación en todas las
          etapas del proceso: pre-prensa, prensa y post-prensa, garantizando
          resultados excepcionales en cada proyecto. Tu imagen es nuestra
          prioridad.
        </p>
        <p class="p-0 m-0 mt-4 font-bold text-2xl text-orange-600">¡Haz que tu marca brille con nosotros!</p>
      </div>
    </div>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-20">
      <div class="shadow-lg rounded-lg p-4 text-primario">
        <div class="text-xl font-bold">Misión</div>
        <div class="p-0">
          Materializamos ideas a través de impresiones de alta calidad,
          ofreciendo soluciones gráficas personalizadas y ágiles que potencian
          la imagen de nuestros clientes.
        </div>
      </div>
      <div class="shadow-lg rounded-lg p-4 text-primario">
        <div class="text-xl font-bold">Visión</div>
        <div class="p-0">
          Ser la imprenta líder en innovación gráfica en Perú, transformando la
          publicidad en una experiencia visual única y memorable.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="contenedor contenedor--primario">
  <div class="subcontenedor text-center">
    <div class="w-full text-primario-2 font-bold text-4xl">
      Nuestro <span class="text-secundario">Equipo</span>
    </div>
    <div
      class="flex flex-wrap gap-5 justify-center"
    >
      @for (item of empleados; track item.id ) {
        <app-card-empleado [empleado]="item"></app-card-empleado>
      }
    </div>
  </div>
</div> -->
