@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

// :root {
//   color-scheme: light dark;
// }

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  // color: inherit;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

ul {
  text-decoration: none;
  list-style: none;
}

.contenedor {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 1024px) {

    padding-left: 0;
    padding-right: 0;
  }


  &--secundario {
    background-color: white;
  }

  &--primario {
    background-color: #003764;
  }
}

.subcontenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  max-width: 1000px;
  gap: 3.5rem;
}
